name: Cloudformation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        pip install -r requirements.txt

    - name: Run tests
      run: |
        echo "The current directory is:"
        pwd
        python -m unittest discover -s . -p 'test_*.py'

    
    - name: Package Lambda function
      run: |
        echo "The first current directory:"
        pwd
        mkdir -p artifact/publish
        cp ./cloudformation_demo/src/la_function.py ./artifact/publish/la_function.py        
        echo "Content of the artifact directory:"
        ls -la artifact
        echo "Content of the artifact/publish directory:"
        ls -la artifact/publish
        cd artifact/publish
        zip -r ../lambda.zip .
        echo "Actual Content of the artifact/publish directory after zip:"
        pwd
        ls -la        
        echo "The last current directory:"
        pwd      
    - name: Copy CloudFormation Template
      run: cp ./cloudformation_demo/deployment.yaml ./artifact/deployment.yaml
    - uses: actions/upload-artifact@v4
      with:
        name: lambda
        path: ./artifact
    - name: Last directory after zip
      run: |       
        echo "The last current directory:"
        pwd      
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1
    
    #- name: chmod
    #  run: chmod -R 777 ./artifact/lambda.zip

#    - name: Upload to S3
#      run: aws s3 cp ./artifact/lambda.zip s3://youtube-demo-cloudformation-packages-konga/
                
  prod-deploy:
    runs-on: ubuntu-latest
    environment: Prod
    needs: build
    
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: lambda
          path: artifact
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Print of the current directory
        run: |
          echo "The last current directory:"
          pwd
      - name: Artifact directory content after zip
        run: |       
          echo "The content of ARTIFACT directory:"
          ls -la ./artifact  
      - name: Upload to S3
        run: aws s3 cp ./artifact/lambda.zip s3://youtube-demo-cloudformation-packages-konga/
      - name: Deploy to AWS CloudFormation
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: youtube-cloudformation-demmmmmo-prod
          template: ./artifact/deployment.yaml
          parameter-overrides: "Environment=-Prod"
          no-fail-on-empty-changeset: "1"
#      - name: Upload to S3
#        run: aws s3 cp ./artifact/lambda.zip s3://youtube-demo-cloudformation-packages-konga
